<p id="notice"><%= notice %></p>

<h1>Cosos</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cosos.each do |coso| %>
      <tr>
        <td><%= coso.name %></td>
        <td><%= coso.description %></td>
        <td><%= coso.number %></td>
        <td><%= link_to 'Show', coso %></td>
        <td><%= link_to 'Edit', edit_coso_path(coso) %></td>
        <td><%= link_to 'Destroy', coso, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Coso', new_coso_path %>
