<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @coso.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @coso.description %>
</p>

<p>
  <strong>Number:</strong>
  <%= @coso.number %>
</p>

<%= link_to 'Edit', edit_coso_path(@coso) %> |
<%= link_to 'Back', cosos_path %>
